@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    --blue: rgba(81, 117, 255, 1);
    --light-blue: rgba(130, 156, 255, 1);
    --grey: rgba(116, 123, 149, 1);
    --dark-grey: rgba(51, 57, 80, 1);
    --darker-grey: rgba(37, 41, 58, 1);
    --orange: rgba(240, 91, 91, 1);
}

html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    background: url(/assets/home/bg-pattern-header.svg) no-repeat #FAFAFA;
    background-size: 600px;
    background-position-x: 40%;
    background-position-y: -7%;
    overflow: hidden;
}

/* general button styling */
.link-button, .link-button:visited {
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    
}

.link-button:hover {
    cursor: pointer;
}

.link-button:active {
    opacity: 75%;
}

.logo-div {
    display: flex;
    text-align: center;
    max-width: 9.8rem;
    margin: 5rem auto;
}

.hero {
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "i"
    "t"
    ;
    padding-right: 1rem;
}

/* using 1024px/64rem as start of desktop screen sizes */
@media (min-width: 48rem) {
    .logo-div {
        margin-left: 2.438rem;
        text-align: start;
    }

    .main-container {
    background-size: 600px;
    background-position-x: 250%;
    }

    .hero {
        margin-left: 2.438rem;
    }
}

@media only screen and (min-width: 64rem) {
    .logo-div {
       margin-left: 10.313rem;
       text-align: start;
    }

    .main-container {
        background-size: 850px;
        background-position-x: 110%;
        background-position-y: -30%;
        }

    .hero {
        margin-left: 10.313rem;
    }
}

.illustration-charts {
    grid-area: i;
    min-width: 20rem;
    max-width: 30rem;
    height: clamp(12rem, 1rem + 67vh, 34rem);
    background: url(/assets/home/illustration-charts.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 

.hero-text {
    grid-area: t;
    max-width: 33.75rem;
    text-align: center;
}

/* using 30rem/479px as the assumed start of mobile screen sizes, 
and 48rem/767px as start of tablet screen sizes*/


@media (min-width: 48rem) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i t"
        ;
    }

    .illustration-charts {
        grid-area: t;
    }

    .hero-text {
        grid-area: i;
        text-align: left;
    }
}
    

.hero-heading {
    
    font-size: clamp(2rem, 1rem + 2.8vw, 3.5rem);
    line-height: clamp(3rem, 7vh, 4rem);
    font-weight: 700;
    color: var(--dark-grey);
}

.hero-paragraph {
    
    font-size: clamp(1.125rem, 1rem + 1vw, 1rem);
    line-height: max(1.75rem, 3vh, 1.625rem);
    font-weight: 400;
    margin-bottom: 5rem;
    color: var(--grey);
}

.hero-button {
    background-color: var(--blue);
    color: white;
    box-shadow: 1px 7px 9px 0px rgba(0,0,0,0.15);
}

.hero-button:hover {
    background-color: var(--light-blue);
}

/* pricing section */
.pricing-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FAFAFA 50%, var(--darker-grey) 50%);
    justify-content: center;
    
}

.plans {
    width: clamp(20.5rem, 21.875rem, 25rem);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin: auto 1rem;
}

.pro-plan {
    color: white;
    background: url(/assets/home/bg-pattern-pricing.svg) no-repeat var(--blue);
    background-position-x: center;
    background-position-y: 105%;
    
}

.basic-plan, .ultimate-plan {
    background-color: white;
    color: var(--dark-grey);
    
}

/* using 48rem/767px as start & 1023px/63.938rem as the end of tablet screen sizes */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
    .plans {
        min-width: 43.063rem;
        min-height: 19.875rem;
    }

    .pricing-section {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .plans {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a a"
        "b c"
        "d c"
        "e e"
        ;
        gap: .5rem;
        margin: auto;
    }

    .plan-name {
        grid-area: a;
    }

    .pricing {
        grid-area: b;
    }

    .users {
        grid-area: d;
    }

    .benefits {
        grid-area: c;
    }

    .footer-button-div {
        grid-area: e;
    }

    .pro-plan {
        background-position-x: 330%;
        background-position-y: 60%;
    }
}

@media only screen and (min-width: 64rem) {
    .pricing-section {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
        grid-template-rows: 32rem;
        gap: .5rem;
    }

    .basic-plan {
        grid-column: 2;
    }

    .pro-plan {
        grid-column: 3;
    }

    .ultimate-plan {
        grid-column: 4;
    }

    .plans {
        width: clamp(270px, 1rem + 21vw , 350px);
    }
    
}

/* styling text content in the plans */
.plan-name {
    font-size: 1.25rem;
    height: 4.25rem;
    font-weight: 700;
}
.pricing {
    font-size: 3.5rem;
    height: 4.375rem;
    font-weight: 700;
}

.users {
    font-size: 1rem;
    height: 5.25rem;
    font-weight: 400;
}
.benefits {
    font-size: 1rem;
    line-height: 2.75rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
}


/* button styling */
.basic-ult-button, .basic-ult-button:visited {
    background-color: rgb(220,228,252);
    color: var(--blue);
}

.basic-ult-button:hover {
    background-color: rgb(195,203,251);
}

.pro-button, .pro-button:visited {
    color: var(--blue);
    background-color: white;
}

.pro-button:hover {
    background-color: #F2F2F2;
}

@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
    .basic-ult-button, .pro-button {
        max-width: 10rem;
    }
}

/* footer */
footer {
    background: url(/assets/home/bg-pattern-footer.svg) no-repeat var(--darker-grey);
    background-position-x: center;
    background-position-y: 68%;
    width: 100%;
    height: max(25rem, 16rem);
    overflow: hidden;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;
    align-items: center;
}

.coming-soon {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.313rem;
    color: white;
}

/* containing the text and countdown timer */
.countdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    align-items: center;
}

.date-of-launch {
    color: var(--blue);
}

.timer {
    min-width: 4.5rem;
    height: max(8rem, 5.75rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    
}

.countdown-details {
    width: clamp(4.5rem, 18vw, 6rem);
    height: clamp(5.75rem, 18vh, 8rem);
    background-color: var(--dark-grey);
    border-radius: clamp(4px, 2vw, 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-number {
    font-size: clamp(1rem, 11vw, 3.5rem);
    font-weight: 700;
    color: white;
    margin-top: .5rem;
}

.countdown-text {
    font-size: clamp(0.7rem, 6vw, 1rem);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
}

.footer-button {
    background-color: var(--blue);
    color: white;
 }

 .footer-button:hover {
    background-color: var(--light-blue);
 }

 /* using 1024px/64rem as start of desktop screen sizes */
 @media only screen and (min-width: 64rem) {

    footer {
        background-position-x: 105%;
        background-position-y: 50%;
    }

     .footer-content {
         align-items: flex-start;
         position: relative;
    
     }

     .countdown {
        align-items: flex-start;
        margin-left: 6.5rem;
     }

     .footer-button {
         position: absolute;
         right: 7%;
         top: 32%;
 }
 }


 /* NEW PAGE - sign up form */

 body {
    background: linear-gradient(180deg, #FAFAFA 80%, var(--darker-grey) 20%);
 }

 .sign-up-container {
     position: relative;
 }

 .section-1 {
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
     padding-bottom: 3rem;
     background: url(/assets/sign-up/bg-pattern-top.svg) no-repeat;
     background-position-x: center;
 }

 /* setting up logo placement across all screens */

 .sign-up-logo {
    max-width: 9.8rem;
    margin: 5rem auto;
}

@media only screen and (min-width: 48rem) {
    .section-1 {
        background: none;
    }
    
    .sign-up-logo {
        margin-left: 2.438rem;
    }
}


/* text section */

 .info-section {
     max-width: 34rem;
     text-align: center;
 }

 .hero-heading-sign-up {
    font-size: clamp(2rem, 1rem + 2.8vw, 3.5rem);
    line-height: clamp(3rem, 7vh, 4rem);
    font-weight: 700;
    color: var(--dark-grey);
 }

 .hero-paragraph-sign-up {
    font-size: clamp(1.125rem, 1rem + 1vw, 1rem);
    line-height: max(1.75rem, 3vh, 1.625rem);
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--grey);
    padding: 0 1rem 0 1rem;
 }

 /* resetting positioning for large desktop view only*/
 @media only screen and (min-width: 85rem) {
    

    .section-1 {
        margin-left: 10.313rem;
        align-items: flex-start;
         }
     
    .sign-up-logo {
        margin-left: 0;
        margin: 5rem auto 3rem auto;
        }

    .info-section {
         text-align: left;
     }

    body {
        background: linear-gradient(90deg, #FAFAFA 70%, var(--darker-grey) 30%);
        }

    .hero-paragraph-sign-up {
        padding: 0;
    }
}
 

/* styling timer */

.countdown-sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    align-items: flex-start;
}

.cs-sign-up {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.313rem;
    color: var(--darker-grey);
    align-self: center;
 }

.cd-sign-up {
    width: clamp(4.5rem, 18vw, 6rem);
    height: clamp(5.75rem, 18vh, 8rem);
    background-color: rgba(233,237,250,255);
    border-radius: clamp(4px, 2vw, 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cn-sign-up {
    font-size: clamp(1rem, 11vw, 3.5rem);
    font-weight: 700;
    color: var(--blue);
    margin-top: .5rem;
}

.cd-text-sign-up {
    font-size: clamp(0.7rem, 6vw, 1rem);
    font-weight: 700;
    color: rgba(142,147,166,255);
    ;
    
}

 /* styling the form */

  .form {
      display: flex;
      flex-direction: column;
      border-radius: 13px;
      max-width: 29rem;
      margin: 2rem auto 5rem auto;
      padding: 1rem;
      max-width: 21rem;
      background-color: white;
  }

  @media only screen and (max-width: 84rem) {
      .form {
        box-shadow: 0 3px 1px rgb(0 0 0 / 0.2);
      }
  }

  .form-item {
      display: flex;
      flex-direction: column;
      

  }

  input[type=text], input[type=email], input[type=tel], #plan-choice {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(116, 123, 149, 1);
      opacity: 0.5;
      box-sizing: border-box;
      width: 100%;
      padding: 1.8rem;
      
  }

  input {
    
    color: rgba(51, 57, 80, 1);
    font-size: 1rem;
    font-weight: 400;
  }

  input::placeholder {
      color: rgba(116, 123, 149, 1);
      opacity: 0.5;
  }

  input:invalid {
    border-bottom: 1px solid var(--orange);
  }

  input:focus:invalid {
    border-bottom: 1px solid rgba(116, 123, 149, 1);
  }

  .form-button, .form-button:visited {
        text-decoration: none;
        padding: 1rem 1.75rem;
        border-radius: 50px;
        font-size: 1rem;
        font-weight: 700;
        white-space: nowrap;
      margin-top: 2rem;
      background-color: var(--blue);
      color: white;
      border: none;
  }

  .form-button:hover {
    background-color: var(--light-blue);
}

.form-button:active {
    opacity: 75%;
}

/* resetting form positioning for large desktop view only*/
@media only screen and (min-width: 85rem) {
    .cs-sign-up {
        align-self: flex-start;
    }

    .form {
        min-width: 24rem;
        position: absolute;
        top: 22%;
        right: 16%;
        box-shadow: -28px 27px 46px -18px rgba(0,0,0,0.31);
    }

    .sign-up-container {
        background: url(/assets/sign-up/bg-pattern-side.svg) no-repeat;
        background-size: 1600px;
        background-position-x: -320%;
        background-position-y: 70%;
    }
}
