@media only screen and (max-width: 375px) {
    body {
        width: 23.438rem;
    }

    /* hero section */

    .logo {
        margin: 6.875rem 2.875rem 8rem 5rem;
    }

    .svg-lines-header {
        display: none;
    }

    .hero-wrapper {
        height: 90rem;
        margin: 0;
        padding-bottom: 20rem;
    }


    .hero {
        height: 37.5rem;
        display: grid;
        grid-template-columns: 16rem;
        grid-template-rows: 14.688rem 23.625rem;
        grid-template-areas: 
        "a"
        "b"
        ;
        position: relative;
    }

    .hero-text {
        width: 20.438rem;
        height: 22rem;
        grid-area: b;
    }

    .hero-heading {
        width: 20.438rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero-paragraph {
        height: 8.125rem;
        width: 20.438rem;
        font-size: 1rem;
        line-height: 1.625rem;

    }

    .illustration-charts {
        grid-area: a;
    }
    
    .illustration-charts > svg {
        width: 10.688rem;
        height: 12rem;
}

/* pricing section */
.pricing-section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: absolute;
    bottom: -325%;
    left: 0;
}

.plans {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    height: 31.75rem;
    padding: 2.5rem 0 0 0;
}
/* footer */
footer {
    width: 23.438rem;
    height: 90rem;
    overflow: hidden;
}

.footer-content {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 65rem 0 0 0;
    border-radius: 1px;
    margin-left: -20rem;
}

.countdown {
    align-items: center;
}

.coming-soon {
    padding-bottom: 1rem;
}

.countdown-details {
    width: 4.5rem;
    height: 5.75rem;
    display: inherit;
    column-gap: 0.813rem;
}

.countdown-number {
    font-size: 2rem;
}

.countdown-text {
    font-size: 0.75rem;
}

}