@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    --blue: rgba(81, 117, 255, 1);
    --light-blue: rgba(130, 156, 255, 1);
    --grey: rgba(116, 123, 149, 1);
    --dark-grey: rgba(51, 57, 80, 1);
    --darker-grey: rgba(37, 41, 58, 1);
    --orange: rgba(240, 91, 91, 1);
}

.body-class {
    background-color: #F2F2F2;
}

/* general styling */


/* button styling */
.link-button {
    border: none;
    width: 10.688rem;
    height: 3.5rem;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: 700;
}

.link-button:hover {
    cursor: pointer;
}

.link-button:active {
    opacity: 75%;
}


/*hero section */

.logo {
    padding: 0;
    margin: 5.063rem 70rem 6.375rem 10.313rem;
    position: relative;
}

.svg-lines-header {
    position: absolute;
    top: -26.188rem;
    left: 41rem;
    z-index: -1;
}

.svg-lines-header svg {
    width: 100%;
    overflow: hidden;
}

.hero-wrapper {
    margin: 6.375rem 10.313rem 27.375rem 10.313rem;
}

.hero {
    display: grid;
    grid-template-columns: 39.688rem 29.688rem;
    grid-template-rows: 33.188rem;
    grid-template-areas: 
    "a b"
    ;
    position: relative;
}

.hero-text {
    grid-area: a;
    height: 24.25rem;
    display: flex;
    flex-direction: column;
}

.hero-heading {
    grid-area: a;
    width: 33.75rem;
    height: 12rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
    color: var(--dark-grey);
    
}

.hero-paragraph {
    width: 33.75rem;
    height: 5.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: var(--grey);
}

/* hero button styling */

.hero-button {
    background-color: var(--blue);
    color: white;
    box-shadow: 1px 7px 9px 0px rgba(0,0,0,0.15);
    margin-top: 2rem;
}

.hero-button:hover {
    background-color: var(--light-blue);
}

.illustration-charts {
    grid-area: b;
}

/* pricing section */
.pricing-section {
    margin-left: 10.313rem;
    margin-right: 10.313rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.875rem;
    position: absolute;
    bottom: -90%;
    left: 0;
}

.plans {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    height: 31.75rem;
    padding: 2.5rem 0;
    border-radius: 13px;
    align-items: center;
}

.pro-plan {
    color: white;
    background-color: var(--blue);
    position: relative;
}

.basic-plan, .ultimate-plan {
    background-color: white;
    color: var(--dark-grey);
}

.plan-name {
    font-size: 1.25rem;
    height: 4.25rem;
    font-weight: 700;
}
.pricing {
    font-size: 3.5rem;
    height: 4.375rem;
    font-weight: 700;
}

.users {
    font-size: 1rem;
    height: 5.25rem;
    font-weight: 400;
}
.benefits {
    font-size: 1rem;
    height: 2.75rem;
    font-weight: 400;
}

.basic-ult-button {
    background-color: rgb(220,228,252);
    color: var(--blue);
}

.basic-ult-button:hover {
    background-color: rgb(195,203,251);
}

.pro-button {
    color: var(--blue);
    background-color: white;
}

.pro-button:hover {
    background-color: #F2F2F2;
}

.pro-plan-svg {
    position: absolute;
    top: -60%;
    left: -75%;
}

/* footer */
 footer {
     width: 90rem;
     height: 37.688rem;
     background-color: var(--darker-grey);
 }

 .footer-content {
     width: 69.375rem;
     height: 11rem;
     padding: 21rem 1.313rem 5.688rem 10.313rem;
     display: grid;
     grid-template-columns: 58.688rem 10.688rem;
     grid-template-rows: 11rem;
     grid-template-areas: 
     "timer button";
 }

/* timer section */

 .countdown {
     grid-area: timer;
     display: flex;
     flex-direction: column;
     row-gap: 1rem;
 }

 .coming-soon {
     text-transform: uppercase;
     font-size: 1rem;
     font-weight: 700;
     letter-spacing: 0.313rem;
     color: white;

 }

 .date-of-launch {
     color: var(--blue);
 }

 .timer {
     width: 28rem;
     height: 8rem;
     display: flex;
     flex-direction: row;
     column-gap: 1rem;
 }

.countdown-details {
    width: 6.25rem;
    height: 8rem;
    background-color: var(--dark-grey);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-number {
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}

.countdown-text {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
}

 .footer-button-div {
     grid-area: button;
     align-self: center;
     
 }

 .footer-button {
    background-color: var(--blue);
    color: white;
 }

 .footer-button:hover {
    background-color: var(--light-blue);
 }